ul.list-task{
  margin: 0 auto;
  list-style-type: none;
  max-width: 400px;
  padding: 15px;
}

ul.list-task > li{
  display: flex;
  font-size: 0.6em;
  color: rgb(255, 0, 0);
  cursor: pointer;
  margin-top: 10px;
  justify-content: space-between;
}

ul.list-task > li > p{
  display: inline-block ;
  font-weight: bold;
  width: 100%;
}

ul.list-task button{
  width: 30px;
  height: 30px;
}
